body {
    background-color: black;
    color: greenyellow;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

input {
    background-color: black;
    color: greenyellow;
    border: 1px dashed greenyellow;
    padding: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
}

input:focus {
    border: 1px dashed greenyellow;   
    outline: none; 
}