body {
    background-color: black;
    color: greenyellow;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

input {
    background-color: rgb(103, 103, 103);
    color: greenyellow;
    border: 1px dashed greenyellow;
    padding: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
}

input:focus {
    border: 1px dashed greenyellow;
    outline: none;
}

button {
    background-color: black;
    color: greenyellow;
    font-family: 'Courier New', Courier, monospace;
    padding: 0.5rem;
    border: 1px solid greenyellow;
}

button:hover, button:focus {
    background-color: greenyellow;
    color: black;
    font-weight: bold;
}